.page {
    .stop {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;

        .heading {
            height: 100vh;
            width: 100%;
            background-color: #333;
            display: flex;
            z-index: -2;
        
            img {
                height: auto;
                max-width: 100%;
                object-fit: cover;
                opacity: .5;
                z-index: 1;
            }
        }
    
        .top {
            position: absolute;
            height: 100vh;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 10;
            animation: up 1s 0s forwards ease-in-out;
            .inner {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                text-align: center;
                transform: translate(0, -50%);
                color: white;
                h3,
                h2 {
                    color: #fff;
                }
                h2 {
                    opacity: 0;
                    animation: appear .7s .5s forwards ease-in;
                }
                h3 {
                    opacity: 0;
                    animation: appear .7s .5s forwards ease-in;
                }
                .icon {
                    opacity: 0;
                    font-size: 100px;
                    animation: appear .7s .5s forwards ease-in;
                }
                .arrow {
                    opacity: 0; 
                    font-size: 40px;
                    animation: appear 1s 1s forwards ease-in;
                }
           }
    
        }
    }

    .body {
        border-top: 2px solid #333;
        margin: 100vh 0 0 0;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        background-color: #fff;
        padding: 40px 0 90px 0;
        overflow: hidden;
    }
}

@keyframes up {
    to {
        transform: translateY(-20px);
    }
}
@keyframes appear {
    to {
        opacity: 1
    }
}