.section {
    figure {
        display: flex;
        height: 350px;
        margin: 0;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    section {
        margin: 90px 0;
        background-color: rgb(250, 248, 245);
        padding: 0;
        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            text-align: center;
            padding: 16px;
            hr {
                width: 30px;
                height: 1px;
                background-color: blue;
            }
        }
    }
}