

@import '../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');
body {
    font-family: 'Libre Baskerville', serif;
    margin-top: 100vh;
    height: 200vh;
    overflow-x: hidden;
}

*   {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
